
body {
    background-color:aliceblue;
}

header {
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
    background-color: antiquewhite;
    text-align: center;
}

main {
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
    background-color: lightcyaan;
    text-align: center;
}

footer {
    background-color: antiquewhite
}

ul a{
    color: white;
    text-decoration: none;
}

ul a:hover {
    color: brown;
}

li {
    display: inline-block;
    width: 130px;
    height: 20px;
    background-color: brown;
    text-align: center;
}

li:hover {
    background-color: white;
}

input[type="text"], input[type="email"], textarea, select, button {
    display: block;
    margin: 15px 0px;
    width: 400px;
    box-sizing: border-box;
}
textarea{
    height: 100px;
    padding: 5px 4px;
    border: 1px grey;
}
button:active {
    color: white;
    border-radius: 4px; box-shadow: inset 2px 2px 5px blue;
}

footer {
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 20px;
}